{
  "backend": {
    "s3": {
      "region": "{{ S3_REGION }}",
      "bucket": "pushkar-kumar96318"
    }
  },
  "listener": {
    "tcp":{
      "address": "0.0.0.0:8200",
      "tls_disable": 1
    }
  },
  "ui": true
}
